# I. OOP

1. (6б). Створіть клас Animal, додайте три атрибути, один з яких має значення за замовчуванням та два методи на свій розсуд.

In [10]:
class Animal:

    def __init__(self, name, kind, price=1000):
        self._name = name
        self._kind = kind
        self._price = price

    def getDesc(self, zooName):
        return f"Animal with name {self._name} lives in \"{zooName}\" zoo."

    def ofTheSameKind(self, animal):
        return self._kind == animal._kind

2. (2б). Створіть два обʼєкти цього класу, де один з обʼєктів створюється із дефолтним значенням атрибуту. На одному обʼєкті отримайте значення його атрибуту, а на іншому викличте один з його методів.

In [11]:
a1 = Animal("Joe", "Dog", 100)
a2 = Animal("Garfield", "Cat")

print(a2._name)
print(a1.getDesc("Kyiv`s Zoo"))

Garfield
Animal with name Joe lives in "Kyiv`s Zoo" zoo.

3. (5б). Створіть клас, де атрибути мають різні рівні доступу. Спробуйте отримати їхні значення та опишіть результати.

In [18]:
# Obviously, in Python there are no such things as private members of the class.
# There are only common conventions(for ex. var of class defined with name like '_attname' would mean this is private, but there is no restriction to change it directly) and
# some "Python things" such as implicitly changing name of the attribute with another(__attname => _className__attname),
# so user would not have access to variable unless he knows it happens.
class Student:
    def __init__(self, name, family, faculty, year = 1):
        self.name = name
        self.family = family
        self._faculty = faculty
        self.__year = year

student = Student("Volodymyr", "Zelenskii", "Political Sciences", 6)
print(student.name)
print(student._faculty)
print(student.__year)               # this gives an error. But ...

# magic... we could do this:
#print(student._Student__year)

Volodymyr
Political Sciences
6

4. (7б). Як ви розумієте термін self? Для чого використовується метод __init __?

---

self - це указник на об'єкт, який був використаний для виклику методу класу, і який передається як параметр з таким ім'ям у цей метод.
__init__ - це свого роду конструктор об'єкту класу - тут визначаються та ініціалізовуються певними значеннями атрибути класу.

5. (9б). Створіть клас Фігура без атрибутів, з методом get_area для отримання площі фігури, що повертає 0 та __add __, який приймає self та other в якості аргументів, а повертає суму площин фігур self та other.

In [20]:
class Shape:

    def get_area(self):
        return 0

    def __add__(self, other):
        return self.get_area() + other.get_area()

6. (11б). Створіть 2 дочірніх класи від Фігури: Трикутник та Коло, які мають атрибути, необхідні для розрахунку площин. Визначте метод get_area в кожному з них так, щоби вони розраховували площу в залежності від формули для кожного типу фігури. Створіть обʼєкт класу Трикутник та обʼєкт класу Коло. Виконайте операцію суми за допомогою оператора + між ними.

In [23]:
class Triangle(Shape):

    def __init__(self, sidel, heightl):
        self.sidel = sidel
        self.heightl = heightl

    def get_area(self):
        return self.sidel * self.heightl * 0.5

class Circle(Shape):

    pi = 3.14157

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return Circle.pi * self.radius * self.radius


circle = Circle(2.0)
triangle = Triangle(5.0, 2.0)

circle + triangle

17.56628

7. (3б). Продемонструйте різницю між isinstance та issubclass.

In [27]:
varbool = True

print(isinstance(varbool, int))
print(issubclass(bool, int))

True
True

8. (13б). Створіть клас BankAccount з приватними атрибутами balance та

---

account_number. Реалізуйте методи поповнення та зняття коштів, забезпечивши належну інкапсуляцію. Підказка: використовуйте декоратори property та setter.

In [46]:
class BankAccount:

    def __init__(self, balance, account_number):
        self._balance = balance
        self._account_number = account_number

    @property
    def balance(self):
        return self._balance

    @property
    def account_number(self):
        return self._account_number


    @balance.setter
    def balance(self, newbalance):
        if newbalance < 0 or (not isinstance(newbalance, float)):
            print("Balance value should be above 0 and have float type.")
            return
        self._balance = newbalance

    @account_number.setter
    def account_number(self, newid):
        if newid < 0 or (not isinstance(newid, int)):
            print("Account Number should be above 0 and have integer type.")
            return
        self._account_number = newid


    def withdraw(self, amount):
        if amount > self._balance:
            print("Not enough money to end withdraw operation.")
            return

        if amount < 0:
            print("Cannot be withdrawn a negative amount of money.")
            return

        self._balance -= amount
        return

    def topup(self, amount):
        if amount < 0:
            print("Cannot be toped up by negative amount of money.")
            return
        self._balance += amount

In [48]:
#some testing
account = BankAccount(1000.0, 1)
print(account.balance)
print(account.account_number)
account.balance = 500.0
print(account.balance)
account.withdraw(501.0)
print(account.balance)
account.topup(-10)
print(account.balance)

1000.0
1
500.0
Not enough money to end withdraw operation.
500.0
Cannot be toped up by negative amount of money.
500.0

9. (11б). Створіть клас Library, який містить список об'єктів типу Book. Реалізуйте методи для додавання книги, видалення книги та відображення списку книг.

In [67]:
class Book:

    def __init__(self, name, author, year, price):
        self.name = name
        self.author = author
        self.year = year
        self._price = price

    @property
    def price(self):
        return self._price

    @price.setter
    def price(self, newprice):
        if newprice < 0:
            print("Price of the book cannot be negative.")
            return

        self._price = newprice

    def __repr__(self):
        return f"\'{self.name}\' by {self.author}, {self.year} - {self._price}$"


class Library:

    def __init__(self, books=[]):
        self._books = books

    def getAmount(self):
        return len(self._books)

    def addBook(self, book):
        if isinstance(book, Book):
            self._books.append(book)
        return

    def deletePosition(self, index):
        if index < 0 or index >= len(self._books):
            print("Index value is not valid.")
            return

        del self._books[index]

    def deleteBook(self, book):
        self._books.remove(book)

    def __repr__(self):
        return "There are such books in the library:\n~ " + "\n~ ".join([str(book) for book in self._books])

In [68]:
b1 = Book("Harry Potter", "Joanne Rowling", 2000, 30)
b2 = Book("1984", "George Orwell", 1984, 23)
b3 = Book("Brave New World", "Oldos Hackley", 1990, 33)
b4 = Book("Solaris", "Stanislav Lem", 1991, 22)
b5 = Book("I, Robot", "Aisek Azimov", 1997, 34)
b6 = Book("Financier", "Theodore Dreiser", 1980, 33)

books = [b1, b2, b3, b4, b5, b6]

lib = Library(books)

print(lib)

lib.addBook(Book("Stoic", "Theodore Dreiser", 1985, 36))

print(lib)

lib.deletePosition(0)

print(lib)

lib.deleteBook(b2)

print(lib)

There are such books in the library:
~ 'Harry Potter' by Joanne Rowling, 2000 - 30$
~ '1984' by George Orwell, 1984 - 23$
~ 'Brave New World' by Oldos Hackley, 1990 - 33$
~ 'Solaris' by Stanislav Lem, 1991 - 22$
~ 'I, Robot' by Aisek Azimov, 1997 - 34$
~ 'Financier' by Theodore Dreiser, 1980 - 33$
There are such books in the library:
~ 'Harry Potter' by Joanne Rowling, 2000 - 30$
~ '1984' by George Orwell, 1984 - 23$
~ 'Brave New World' by Oldos Hackley, 1990 - 33$
~ 'Solaris' by Stanislav Lem, 1991 - 22$
~ 'I, Robot' by Aisek Azimov, 1997 - 34$
~ 'Financier' by Theodore Dreiser, 1980 - 33$
~ 'Stoic' by Theodore Dreiser, 1985 - 36$
There are such books in the library:
~ '1984' by George Orwell, 1984 - 23$
~ 'Brave New World' by Oldos Hackley, 1990 - 33$
~ 'Solaris' by Stanislav Lem, 1991 - 22$
~ 'I, Robot' by Aisek Azimov, 1997 - 34$
~ 'Financier' by Theodore Dreiser, 1980 - 33$
~ 'Stoic' by Theodore Dreiser, 1985 - 36$
There are such books in the library:
~ 'Brave New World' by Oldos Hackley, 1990 - 33$
~ 'Solaris' by Stanislav Lem, 1991 - 22$
~ 'I, Robot' by Aisek Azimov, 1997 - 34$
~ 'Financier' by Theodore Dreiser, 1980 - 33$
~ 'Stoic' by Theodore Dreiser, 1985 - 36$

10. (13б). Створіть клас Person з атрибутами name та age. Створіть ще один клас Employee з такими атрибутами, як department та salary. Створіть клас Manager, який успадковує обидва класи Person та Employee. Продемонструйте використання множинної спадковості, створивши обʼєкт класу Manager та отримавши mro для цього класу.

In [69]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Employee:
    def __init__(self, department, salary):
        self.department = department
        self.salary = salary

class Manager(Person, Employee):
    def __init__(self, name, age, department, salary):
        Person.__init__(self, name, age)
        Employee.__init__(self, department, salary)

manager = Manager("Alice", 40, "IT", 90000)

mro = Manager.mro()

mro

[__main__.Manager, __main__.Person, __main__.Employee, object]

# II. Iterator

11. (4б). Визначте рядок(str) з 4ма різними за значенням символами. Створіть ітератор на основі цього рядка. Викличте 5 разів функцію next на ітераторі, 4ри перших з них огорніть у ф-цію print().

In [71]:
word = 'word'
iterator = iter(word)
print(next(iterator))
print(next(iterator))
print(next(iterator))
print(next(iterator))
next(iterator)

w
o
r
d

StopIteration:

А що якщо викликати цю ж функцію на рядку?

 12. (5б). Опишіть своїми словами в одному реченні, як ви розумієте різницю між ітерабельними обʼєктами та ітераторами (можна на прикладі).

 Ітератор - це будь-який об'єкт який реалізовує метод next(). Ітерабельний об'єкт це той об'єкт, який при застосуванні до нього функції iter() повертає ітератор. Тобто ітерабельний = такий, що має ітератор.

13. (11б). Створіть клас, що має визначений Iterator Protocol та при кожному виклику next повертає літери англійської абетки, поки вони не вичерпаються.

In [76]:
class Alphabet:
    def __init__(self):
        self._alphabet = [chr(i) for i in range(65, 91)]
        self._index = -1

    def __iter__(self):
        return self

    def __next__(self):
        self._index += 1
        if self._index >= len(self._alphabet):
            raise StopIteration
        return self._alphabet[self._index]


alphabet = Alphabet()

print("English Alphabet:\n")
for letter in alphabet:
    print(letter)

print("The End.")

English Alphabet:

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z
The End.

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.